.contact-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.contact-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.contact-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.contact-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #ffffff;
}
.contact-hero-text-container {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-heading {
  color: rgb(4, 4, 4);
  font-size: 48px;
  font-family: Overpass;
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.contact-text {
  color: var(--dl-color-gray-black);
  font-family: Noto Sans;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.contact-image {
  width: 40%;
  object-fit: cover;
}
@media(max-width: 991px) {
  .contact-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .contact-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .contact-heading {
    text-align: center;
  }
  .contact-text {
    text-align: center;
  }
  .contact-image {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .contact-hero-text-container {
    width: 100%;
  }
}
